page {
	height: 100%;
	padding-top: 80upx;
}

.search-box {
		width: 100%;
		height: 80upx;
		position: fixed;
		.search-left {
			background-color: #007AFF;
			width: 100upx;
			height: 80upx;
			position: fixed;
			top: 0upx;
			left: 0upx;
		}
		.search-content {
			background-color: #ffaa00;
			width: 550upx;
			height: 80upx;
			position: fixed;
			top: 0upx;
			left: 100upx;
			.swiper-search {
				width: 500upx;
				height: 80upx;
				float: right;
				line-height: 80upx;
			}	
			.search-TB {
				width: 50upx;
				line-height: 80upx;
			}
		}
		.search-right {
			background-color: #007AFF;
			width: 100upx;
			height: 80upx;
			position: fixed;
			top: 0upx;
			right: 0upx;
		}
	}

.nav-box {
	width: 100%;
	height: 50upx;
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	line-height: 80upx;
	margin-top: 80upx;
	z-index: 1;
	.nav-list {
		width: 40upx;
	}
}