@font-face {
  font-family: "iconfont"; /* Project id 2047650 */
  src: url('../../iconfont.woff2?t=1621505932075') format('woff2'),
       url('../../iconfont.woff?t=1621505932075') format('woff'),
       url('../../iconfont.ttf?t=1621505932075') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-auto:before {
  content: "\e6eb";
}

.icon-all:before {
  content: "\e6ef";
}

.icon-auto-copy:before {
  content: "\e7e9";
}

.icon-commodity:before {
  content: "\e789";
}

.icon-yonghu:before {
  content: "\e603";
}

.icon-quanxian:before {
  content: "\e656";
}

.icon-dingdan:before {
  content: "\e611";
}

.icon-shuju:before {
  content: "\e674";
}

.icon-youxiang:before {
  content: "\e631";
}

.icon-arrows3:before {
  content: "\e695";
}

.icon-04geren:before {
  content: "\e606";
}

.icon-search:before {
  content: "\e616";
}

.icon-guizi:before {
  content: "\e61c";
}

.icon-phone:before {
  content: "\e60f";
}

.icon-gouwuchezhengpin:before {
  content: "\e610";
}

.icon-tupian:before {
  content: "\e613";
}

.icon-arrows2:before {
  content: "\e7e6";
}

.icon-arrows1:before {
  content: "\e7e7";
}

.icon-arrows4:before {
  content: "\e7e8";
}

.icon-liwub:before {
  content: "\e6cc";
}

.icon-ico_data:before {
  content: "\e673";
}

.icon-lend:before {
  content: "\e61d";
}

.icon-aide:before {
  content: "\e602";
}

.icon-shenghuo:before {
  content: "\e698";
}

.icon-shouye:before {
  content: "\e659";
}

.icon-wode:before {
  content: "\e78a";
}

.icon-shuidian:before {
  content: "\e6a4";
}

.icon-licai:before {
  content: "\e612";
}

.icon-xinyongka:before {
  content: "\e615";
}

.icon-zhuanzhang:before {
  content: "\e7e5";
}

